---
# O Git pode bloquear operações (pull/clone) se o dono da pasta for diferente do usuário que está rodando o Git.
# Aqui, o Ansible roda como root, mas a pasta /var/www/burrinho-frontend pertence a www-data.
# Este comando marca a pasta como "safe" para o Git, dizendo que confiamos nela, mesmo com dono diferente.
- name: Marcar pasta como safe para git
  command: git config --global --add safe.directory /var/www/burrinho-frontend

- name: Atualizar código do frontend
  git:
    repo: "{{ git_repo_url }}"
    dest: "{{ deploy_path }}"
    version: develop
    update: yes
    force: yes

    
# Para instalar o nodejs no linux primeiro precisa disso
- name: Add NodeSource repository
  shell: curl -fsSL https://deb.nodesource.com/setup_20.x | bash -

# Esse passo só é necessário se não tivermos o node instalado globalmente
# Depois do passo acima pode instalar. Estamos instalando o node aqui pq sem isso dá erro, já que o node estava instalado apenas no nvm, mas agora estamos instalando globalmente para podermos usar os comandos npm abaixo
- name: Install Node.js
  apt:
    name: nodejs
    state: present
    update_cache: yes

- name: Install Dependencies
# Algumas vezes vai precisar do export nvm dir antes de executar o comando correto
  shell: npm ci
  args:
    chdir: "{{ deploy_path }}"

- name: Gerar build de produção
  shell: npm run build -- --configuration production
  args:
    chdir: "{{ deploy_path }}"

- name: Copiar build para pasta do nginx
  # É um comando do linux para apagar a pasta dist anterior e coloca os novos arquivos da pasta dist
  command: rsync -a --delete dist/ /var/www/html/
  args:
    chdir: "{{ deploy_path }}"

